<div class="auth-form">
    <h2>Rejestracja</h2>
    <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
        <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
        <input type="password" name="password" [(ngModel)]="password" placeholder="Hasło" required />
        <button type="submit" [disabled]="signUpForm.invalid">Zarejestruj się</button>

        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
    </form>

    <p>Masz już konto? <a routerLink="/login">Zaloguj się</a></p>
</div>